footer {background-color: blue;}
footer {font-size: 100%;}

main {background-color: aqua;}
main {font-style: italic;}
main {font-size: 100%;}

header {background-color: brown;}
header {font-style: oblique;}
header {font-size: 100%;}
header {font-family: Georgia, 'Times New Roman', Times, serif;}
